@tailwind base;
@tailwind components;
@tailwind utilities;

.playfair {
  font-family: "Playfair", serif;
}

.lato {
    font-family: "Lato", sans-serif;
}

.tooltip-custom {
    --tooltip-color: #ff9950;
    --tooltip-text-color: black;
}

.project-slide {
  transition: none !important; /* Ensure Swiper handles transitions */
  transform: none !important;
  opacity: 1 !important;
}