@tailwind base;
@tailwind components;
@tailwind utilities;

.playfair {
  font-family: "Playfair", serif;
}

.lato {
    font-family: "Lato", sans-serif;
}

.tooltip-custom {
    --tooltip-color: #ff9950;
    --tooltip-text-color: black;
}